:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --basic-color: #ffffff;
    --text-color: #000000;
    --title-color: #212121;
    --bg-color-dark: #2f303a;
    --bc-color-light: #f5f4fa;
    --bc-color-border: #ececec;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--main-font);
    font-size: 1 4px;
    letter-spacing: 0.03em;
    color: #757575;
    background-color: var(--basic-color);
}

.header{
    padding: 12px;
    border-bottom: 1px solid var(--bc-color-border);
}

.container {
    width: 1200px;
    margin: auto;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.list{
    display: flex;
    align-items: center;
    gap: 35px;
    align-items: flex-start;
}


.container-benefits{
    width: 270px;
}

.logo-header {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}

.contact-links{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.list, .contact-links:hover,
.list, .contact-links:focus,
.list, .contact-links:active {
    color: var(--title-color);
    color: var(--accent-color);
}

.hero {
    height: 600px;
    background-color: var(--bg-color-dark);
    text-align: center;
    display: flex;
    align-items: center;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-ttl {
    background-color: var(--bg-color-dark);
    color: var(--basic-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin:auto;
    margin-top: 0;
    margin-bottom: 30px;
    height: 120px;
    width: 696px;
}

.buttons{
    background-color: var(--accent-color);
    color: var(--basic-color);
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border-color: transparent;
}

.hero .buttons:hover,
.hero .buttons:active {
    background-color: var(--accent-color);
    color: var(--basic-color);
}

.benefit{
    color: var(--title-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefit-desc{
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.71;
}

.activity {
    padding-top: 0;

}

.subtitle {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team {
    background-color: var(--bc-color-light);
 }

.names {
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.48;
    text-align: center;
    color: var(--text-color);
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.48;
    color: var(--text-color);
}

.footer {
    background-color: var(--bg-color-dark);
    padding: 60px;
}

.logo-footer{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.list-footer{
    list-style: none;
    padding: 0;
}

.address{
    font-style: normal;
    font-weight: normal;
    line-height: 1.71;
    color: var(--basic-color);
}

.contact-footer {
    font-weight: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contact-footer:hover,
.contact-footer:focus {
    color: var(--accent-color);
}

/* Portfolio */
.portfolio-current {
    color: var(--accent-color);
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter.buttoms{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px 24px;

} 

.filter.buttoms:hover
.filter.buttoms:focus
.filter.buttoms:active{
    background-color: var(--accent-color);
    color: var(--basic-color);
}

.filter-current{
    background-color: var(--accent-color);
    color: var(--basic-color);
}

.portfolio-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);
}

.portfolio {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card{
    width: 370px;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

.card-info{
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid var(--bc-color-border);
    border-top: none;
    padding: 20px 24px;
}
